* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* --------------flag-container------------ */
.flag-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url(./images/amoWebTranparent.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.girl-photo {
  position: absolute;
  z-index: 2;
}
.desktop-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
}
.logo-image-desktop img {
  width: 300px;
}
/* -------------langs-part------------ */
.only-text img {
  width: 500px;
}
.girl-photo {
  bottom: 0;
}
.girl-photo img {
  width: 90%;
}
.girl {
  position: relative;
  z-index: 1;
}
.only-web-format {
  position: absolute;
  top: 35%;
  right: 5%;
  transform: translate(0%, -35%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  z-index: 5;
}
.langs-part {
  display: flex;
  list-style: none;
  gap: 15px;
}
.langs-part li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.langs-part li:first-child {
  margin-right: 10px;
}
.langs-part li .lang-image img {
  width: 50px;
}
.eng {
  margin-bottom: 1.5px;
}
.langs-part li p {
  font-weight: medium;
  text-align: center;
  font-family: inherit;
  height: 100px;
  font-size: 20px;
  margin-top: 10px;
}
.langs-part li .catalog-image {
  background-color: green;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.langs-part li .catalog-image:hover {
  transform: scale(1.1);
}
/* -------------footer-part------------ */
.footer-part {
  width: 100%;
  position: absolute;
  bottom: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f37624;
  z-index: 3;
  gap: 50px;
  padding: 20px 0;
  padding-right: 50px;
}
.footer-part li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer-part li a:hover {
  transform: scale(1.1);
}
.footer-part li a div img {
  width: 30px;
}
.footer-part li a p {
  font-size: 24px;
  font-weight: medium;
  color: black;
  font-family: inherit;
  color: white;
}
@media screen and (max-width: 768px) {
  .desktop-image {
    display: none;
  }
  .girl-photo img {
    width: 40%;
  }
  .only-web-format {
    top: 10px;
    right: unset;
    left: 50%;
    transform: translate(-50%, 0%);
    gap: 20px;
  }
  .langs-part {
    flex-wrap: wrap;
    justify-content: center;
  }
  .langs-part li {
    width: 230px;
  }
  .langs-part li p {
    height: 60px;
    font-size: 16px;
  }
  .langs-part li .catalog-image {
    width: 100px;
    font-size: 14px;
  }
  /* -------------footer-------- */
  .footer-part {
    justify-content: center;
    gap: 15px;
    padding-right: 0px;
  }
  .footer-part li a div img {
    width: 25px;
  }
  .footer-part li a p {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .flag-container {
    min-height: 120vh;
  }
  .only-text img {
    width: 300px;
  }
  .logo-image-desktop img {
    width: 200px;
  }
  .langs-part li {
    width: 40%;
  }
  .girl-photo img {
    width: 300px;
    height: 400px;
  }
  .girl {
    left: -100px;
  }
  .langs-part li p {
    height: 110px;
  }
  .langs-part li .catalog-image {
    width: 90px;
    font-size: 12px;
  }
  /* -----------footer---------- */
  .footer-part {
    justify-content: unset;
    flex-direction: column;
  }
}
